name: Notify Telegram

on:
  schedule:
    - cron: '0 22 * * *'
    - cron: '0 4 * * *'
    - cron: '0 10 * * *'
  workflow_dispatch:

jobs:
  nofify:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout codebase
        uses: actions/checkout@v4

      - name: Set up Python 3.10+
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests

      - name: Run script
        env:
            TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
            TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
            GOLDAPI: ${{ secrets.GOLDAPI }}
        run: python notift_telegram.py
